@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.woff2') format('woff2'),
    url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.woff2') format('woff2'),
    url('OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelloUnicorn";
    src: url("HelloUnicorn.woff2") format("woff2"),
    url("HelloUnicorn.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HelloUnicorn";
    src: url("HelloUnicorn.woff2") format("woff2"),
    url("HelloUnicorn.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --body-color: #434343;
    --btn-color: #FCB72B;
    --titles-color:#495567;
    --description-color:#939CAA;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', "Arial", sans-serif;
    font-display: swap;
    font-size: 12px;
    line-height: 1.4;
}

img {
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-header{
    background: url(/images/header/header.png) no-repeat;
    background-position:top center;
    margin-bottom: 100px;
}
.site-nav{
    padding-top: 30px;
    padding-bottom: 100px;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-item{
    font-weight: bold;
    white-space: nowrap;
}
.nav-item:not(:last-child){
    margin-right: 35px;
}
.nav-item a{
    text-decoration: none;
    color: #fff;
}

/* Hero */
.hero-section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 82px;
}
.title-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
}
.left-side{
    margin-left: -30px;
    transform: rotate(-90deg);
}
.left-side-text{
    color: #fff;
    transform-origin: left;
    font-size: 12px;
    line-height: 100%;
}
.title-side-para{
    font-weight: bold;
    line-height: 117%;
    color: #fff;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}
.title-side-title{
    font-family: "Banny";
    font-size: 96px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    margin-bottom: 36px;
}
.hero-buttons-list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.hero-buttons-item:not(:last-child){
    margin-right: 40px;
}
.button{
    text-decoration: none;
    line-height: 167%;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 60px;
    background-color: yellow;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.button:hover{
    background: inherit;
}
.explore-link{
    background: inherit;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.explore-link:hover{
    background: yellow;
}
.social-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.social-item:not(:last-child){
    margin-bottom: 30px;
}
.social-item a{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 20px;
}
.social-item a:hover{
    filter: brightness(40%);
}
.social-item a{
    display: block;
}
.down-button{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

/* About */
.flex-section{
    display: flex;
    margin-bottom: 100px;
    flex-direction: row-reverse;
}
.about-section{
    display: flex;
    margin-bottom: 100px;
}
.section-title{
    font-family: "Banny";
    font-size: 36px;
    line-height: 133%;
    text-transform: uppercase;
    color: #000000;
}
.section-description{
    margin-right: 80px;
    width: 600px;
    text-align: center;
    align-self: center;
}
.section-second-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 155%;
}
.section-para{
    font-weight: normal;
    font-size: 14px;
    line-height: 171%;
}
.section-image{
    width: 600px;
    height: 475px;
}
.about-image{
    background: url(/images/about/aboutimg.png) no-repeat;
    background-size: cover;
}


/* Team section */
.team-section{
    background: url(/images/about/team-bg.png);
    padding-top: 20px;
    padding-bottom: 45px;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
}
.team-section-title{
    font-weight: bold;
    font-size: 12px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #fff;
}
.team-description{
    margin-right: 0;
    margin-left: 90px;
    color: #fff;
}

.team-title{
    color: #fff;
}
.team-image{
    background: url(/images/about/teamimg.png) no-repeat;
    background-size: cover;
}
/* Book section */
.book-section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.book-title{
    position: relative;
}
.book-title::after{
    position: absolute;
    content: "";
    width: 60px;
    height: 5px;
    background-color: #E8C300;
    bottom: -30px;
    left: 260px;
}
.book-description{
    width: 600px;
    
}
.book-image{
    background: url(/images/about/bookimg.png) no-repeat;
    background-size: cover;
}
.book-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.book-form input{
    font-size: 14px;
    line-height: 19px;
    padding: 12px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
}
